<a href={{ track_link }} >
    <div class="box">
        <div>
            <img src={{ image_link }} alt="Podcast Image" class="pod_img">
            <div class="title">
                <h1 class="pod_t">{{ podcast_name }}</h1>
                <br>
                <h2 class="pod_t">{{ track_name }}</h2>
            </div>
        </div>
        <br>
        <div>
            <p>{{ track_description }}</p>
            <p>משך: {{ track_duration }}</p>
            <p>גודל: {{ track_size }}</p>
            <p>תאריך פרסום: {{ track_published }}</p>
        </div>
    </div>
</a>